**Table of Contents**

- [Comparing MySQL to Other SQL Databases](https://realpython.com/python-mysql/#comparing-mysql-to-other-sql-databases)
- [Installing MySQL Server and MySQL Connector/Python](https://realpython.com/python-mysql/#installing-mysql-server-and-mysql-connectorpython)
    - [Installing MySQL Server](https://realpython.com/python-mysql/#installing-mysql-server)
    - [Installing MySQL Connector/Python](https://realpython.com/python-mysql/#installing-mysql-connectorpython)
- [Establishing a Connection With MySQL Server](https://realpython.com/python-mysql/#establishing-a-connection-with-mysql-server)
    - [Establishing a Connection](https://realpython.com/python-mysql/#establishing-a-connection)
    - [Creating a New Database](https://realpython.com/python-mysql/#creating-a-new-database)
    - [Connecting to an Existing Database](https://realpython.com/python-mysql/#connecting-to-an-existing-database)
- [Creating, Altering, and Dropping a Table](https://realpython.com/python-mysql/#creating-altering-and-dropping-a-table)
    - [Defining the Database Schema](https://realpython.com/python-mysql/#defining-the-database-schema)
    - [Creating Tables Using the CREATE TABLE Statement](https://realpython.com/python-mysql/#creating-tables-using-the-create-table-statement)
    - [Showing a Table Schema Using the DESCRIBE Statement](https://realpython.com/python-mysql/#showing-a-table-schema-using-the-describe-statement)
    - [Modifying a Table Schema Using the ALTER Statement](https://realpython.com/python-mysql/#modifying-a-table-schema-using-the-alter-statement)
    - [Deleting Tables Using the DROP Statement](https://realpython.com/python-mysql/#deleting-tables-using-the-drop-statement)
- [Inserting Records in Tables](https://realpython.com/python-mysql/#inserting-records-in-tables)
    - [Using .execute()](https://realpython.com/python-mysql/#using-execute)
    - [Using .executemany()](https://realpython.com/python-mysql/#using-executemany)
- [Reading Records From the Database](https://realpython.com/python-mysql/#reading-records-from-the-database)
    - [Reading Records Using the SELECT Statement](https://realpython.com/python-mysql/#reading-records-using-the-select-statement)
    - [Filtering Results Using the WHERE Clause](https://realpython.com/python-mysql/#filtering-results-using-the-where-clause)
- [Handling Multiple Tables Using the JOIN Statement](https://realpython.com/python-mysql/#handling-multiple-tables-using-the-join-statement)
- [Updating and Deleting Records From the Database](https://realpython.com/python-mysql/#updating-and-deleting-records-from-the-database)
    - [UPDATE Command](https://realpython.com/python-mysql/#update-command)
    - [DELETE Command](https://realpython.com/python-mysql/#delete-command)
- [Other Ways to Connect Python and MySQL](https://realpython.com/python-mysql/#other-ways-to-connect-python-and-mysql)
- [Conclusion](https://realpython.com/python-mysql/#conclusion)

### MySQL and other databases

- SQL means Structured Query Langauge and some of the most popular ones are [MySQL](https://www.mysql.com/), [PostgreSQL](https://www.postgresql.org/), [SQLite](https://www.sqlite.org/index.html), and [SQL Server](https://www.microsoft.com/en-us/sql-server/sql-server-2019). All of these databases are compliant with the SQL standards but with varying degrees of compliance. 

- MySQL is also a part of the Oracle ecosystem. Some it's prefrences are the Ease of installation, Speed and user previleges and security.

- While MySQL is famous for its speed and ease of use, you can get more advanced features with PostgreSQL. Also, MySQL isn’t fully SQL compliant and has certain functional limitations, like no support for FULL JOIN clauses.
- Check [Introduction to Python SQL Libraries](https://realpython.com/python-sql-libraries/#understanding-the-database-schema) here for more information on using Python and SQLite, MySQL and PostgreSQL.
- Here are some key differences between these databases:
    1. Architecture: MySQL, PostgreSQL, and SQL Server are client-server RDBMS, while SQLite is a serverless database management system.
    2. Scalability: MySQL, PostgreSQL, and SQL Server are all designed to handle large amounts of data and high traffic loads, making them ideal for enterprise-level applications. SQLite, on the other hand, is better suited for small-scale applications or embedded systems.
    3. Features: MySQL offers a wide range of features, including support for stored procedures, triggers, views, and user-defined functions. PostgreSQL has a more advanced feature set, including support for nested transactions, table inheritance, and advanced indexing options. SQL Server is known for its support for business intelligence and data warehousing features. SQLite is more lightweight and has a simpler feature set, which makes it easier to use and faster.
    4. Performance: Performance varies depending on the specific use case and workload. MySQL, PostgreSQL, and SQL Server are all known for their high performance, while SQLite is generally faster for small-scale databases and simple queries.
    5. Licensing: MySQL, PostgreSQL, and SQLite are all open-source software released under permissive licenses. SQL Server is a proprietary software product developed and owned by Microsoft.

    In summary, each of these databases has its own strengths and weaknesses, and the choice between them depends on the specific needs and constraints of the project. MySQL and PostgreSQL are powerful RDBMS that are popular choices for enterprise-level applications. SQLite is a lightweight and simple option that is ideal for small-scale applications. SQL Server is a proprietary RDBMS developed by Microsoft that is known for its support for business intelligence and data warehousing features.


## Mysqldb 

MySQLdb is a Python module that provides a way to connect to a MySQL database server from a Python program. It provides an interface for executing SQL commands and retrieving results, and it handles the details of establishing a connection to the database server.

MySQLdb is a third-party Python module that provides a MySQL driver for Python. It is an interface to the MySQL database server that conforms to the Python DB API specification. MySQLdb is written in C and provides a fast and stable connection to MySQL databases. It has been around for many years and is widely used in the Python community.

Overview on how to use **`MySQLdb`**:

1. Import the module: Start by importing the **`MySQLdb`** module into your Python script or Jupyter Notebook.

      ```
      pythonCopy code
      import MySQLdb

      ```

2. Connect to a MySQL database: Use the **`connect()`** method to create a connection object that represents a connection to a MySQL database. The method takes several arguments, including the host, user, password, and database name.

      ```
      pythonCopy code
      db = MySQLdb.connect(host="localhost", user="root", password="your_password", database="test")

      ```

Replace "your_password" with your actual MySQL password and "test" with the name of an existing database.

3. Create a cursor object: Use the **`cursor()`** method to create a cursor object that represents a database cursor. The cursor is used to execute SQL commands and retrieve data from the database.

      ```
      pythonCopy code
      cursor = db.cursor()

      ```

4. Execute SQL commands: Use the **`execute()`** method of the cursor object to execute SQL commands. You can execute any valid SQL command, including SELECT, INSERT, UPDATE, and DELETE statements.

      ```
      pythonCopy code
      cursor.execute("SELECT * FROM customers")

      ```

5. Fetch data: After executing a SELECT statement, you can retrieve the results using the **`fetchone()`** or **`fetchall()`** methods of the cursor object. The **`fetchone()`** method retrieves one row of data, while the **`fetchall()`** method retrieves all rows.

      ```
      pythonCopy code
      data = cursor.fetchone()

      ```

      or

      ```
      pythonCopy code
      data = cursor.fetchall()

      ```

6. Commit changes: If you have made changes to the database, such as inserting or updating data, use the **`commit()`** method to save the changes.

      ```
      pythonCopy code
      db.commit()

      ```

7. Close the connection: When you are done working with the database, use the **`close()`** method to close the connection.

      ```
      pythonCopy code
      db.close()

      ```

These are the basic steps for using **`MySQLdb`** to connect to a MySQL database, execute SQL commands, and retrieve data. Of course, there are many more advanced features and techniques that you can use, such as using prepared statements, handling errors, and optimizing performance, but this should give you a good starting point.

### ? What's SQL injection and How can you prevent it?

#### Setting up myqldb

<h2>Set up on linux</h2>

**Install `MySQLdb` module version `2.0.x`

For installing `MySQLdb`, you need to have `MySQL` installed: [How to install MySQL 8.0 in Ubuntu 20.04](https://intranet.alxswe.com/rltoken/paGukker_0KoG3D9FqymNQ)

```
$ sudo apt-get install python3-dev
$ sudo apt-get install libmysqlclient-dev
$ sudo apt-get install zlib1g-dev
$ sudo pip3 install mysqlclient
...
$ python3
>>> import MySQLdb
>>> MySQLdb.version_info
(2, 0, 3, 'final', 0)

```

**Install `SQLAlchemy` module version `1.4.x`

```
$ sudo pip3 install SQLAlchemy
...
$ python3
>>> import sqlalchemy
>>> sqlalchemy.__version__
'1.4.22'
```

Installing MySQL Connector/Python

- in Python you need to install a Python MySQL connector to interact with a MySQL database. Many packages follow the DB-API standards, but the most popular among them is MySQL Connector/Python. You can get it with pip:
        ```$ pip install mysql-connector-python```.

- To test the installation, ```import mysql.connector``` . If the above code executes with no errors, then mysql.connector is installed and ready to use.

<h2>Set up on windows</h2>
- check how to connect mysql to vs code on windows later [Link](youtube.com/watch?v=XwVgj1niaKk&t=100s)

### Connect USING MYSQLDB to a database and CRUDE

In [17]:
import MySQLdb

# Connect to the MySQL server
db = MySQLdb.connect(host="localhost", user="otomisinsql", password="passwordTpass", database="alx")

# Create a cursor object
cursor = db.cursor()

# Check if the database exists
cursor.execute("SHOW DATABASES LIKE %s", ("mydatabase",))
database_exists = cursor.fetchone()

# Create the database if it doesn't exist
if not database_exists:
    create_database_query = f"CREATE DATABASE {database_name}"
    cursor.execute(create_database_query)

# Switch to the new database by using the USE syntax
cursor.execute(f"USE {database_name}")


# Create a new table
table_name = "customers"
create_table_query = "CREATE TABLE IF NOT EXISTS customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))"
cursor.execute(create_table_query)

# # Insert data into the table
# insert_query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
# values = ("Tosin", "123 Main St")
# cursor.execute(insert_query, values)

# # Commit the changes to the database
# db.commit()


# Print the data from the table
select_query = "SELECT * FROM customers"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

# # Drop the table
# drop_table_query = "DROP TABLE customers"
# cursor.execute(drop_table_query)

# # Drop the database
# drop_database_query = f"DROP DATABASE {database_name}"
# cursor.execute(drop_database_query)

# Close the cursor and database connections
cursor.close()
db.close()

(1, 'John Doe', '123 Main St')
(2, 'John Doe', '123 Main St')
(3, 'John Doe', '123 Main St')
(4, 'Tosin', '123 Main St')

### TASKS

####  TASK1 1: Using mysqldb, Create a database, Table and write a script that 

1. Create a database called `hbtn_0e_0_usa`

        ```
        -- Create states table in hbtn_0e_0_usa with some data
        CREATE DATABASE IF NOT EXISTS hbtn_0e_0_usa;
        USE hbtn_0e_0_usa;
        CREATE TABLE IF NOT EXISTS states (
            id INT NOT NULL AUTO_INCREMENT,
            name VARCHAR(256) NOT NULL,
            PRIMARY KEY (id)
        );
        INSERT INTO states (name) VALUES ("California"), ("Arizona"), ("Texas"), ("New York"), ("Nevada")
        ```

2. Write a script that lists all `states` from the database `hbtn_0e_0_usa`:

- Your script should take 3 arguments: `mysql username`, `mysql password` and `database name` (no argument validation needed)
- You must use the module `MySQLdb` (`import MySQLdb`)
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- Results must be sorted in ascending order by `states.id`
- Results must be displayed as they are in the example below
- Your code should not be executed when imported

In [28]:
import MySQLdb
import sys

# Connect to the myqlserver
db = MySQLdb.connect(
    host = "localhost",
    user = "otomisinsql",
    password="passwordTpass", 
    database="alx")

# Create a cursor object
cursor = db.cursor()

# Check if the database called `hbtn_0e_0_usa` exit, if not create one
cursor.execute( "SHOW DATABASES LIKE %s", ("hbtn_0e_0_usa",))
database_exists = cursor.fetchone()

# Create the database if it doesn't exist
if not database_exists:
    cursor.execute("CREATE DATABASE hbtn_0e_0_usa")
else:
    print("database exist")

## SWITCH TO THE NEW DATABASE AND PRINT OUT THE TABLES
# Switch to the new database by using the USE syntax
cursor.execute("USE hbtn_0e_0_usa")
# Get the table names in the database
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# Print the names of all the tables in the database
print("Tables in hbtn_0e_0_usa:")
for table in tables:
    print(table[0])


## FILTER ALL STATES FROM THE DATABASE 
cursor.execute("select * from states")
rows = cursor.fetchall()
for row in rows:
    print(row)


db.close()

database exist
Tables in hbtn_0e_0_usa:
states
(1, 'California')
(2, 'Arizona')
(3, 'Texas')
(4, 'New York')
(5, 'Nevada')

#### TASK 2: Write a script that lists all `states` with a `name` starting with `N` (upper N) from the database `hbtn_0e_0_usa`:

- Your script should take 3 arguments: `mysql username`, `mysql password` and `database name` (no argument validation needed)
- You must use the module `MySQLdb` (`import MySQLdb`)
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- Results must be sorted in ascending order by `states.id`
- Results must be displayed as they are in the example below
- Your code should not be executed when imported

In [29]:
import MySQLdb
import sys

# Connect to the myqlserver
db = MySQLdb.connect(
    host = "localhost",
    user = "otomisinsql",
    password="passwordTpass", 
    database="alx")

# Create a cursor object
cursor = db.cursor()

# Check if the database called `hbtn_0e_0_usa` exit, if not create one
cursor.execute( "SHOW DATABASES LIKE %s", ("hbtn_0e_0_usa",))
database_exists = cursor.fetchone()

# Create the database if it doesn't exist
if not database_exists:
    cursor.execute("CREATE DATABASE hbtn_0e_0_usa")
else:
    print("database exist")

## SWITCH TO THE NEW DATABASE AND PRINT OUT THE TABLES
# Switch to the new database by using the USE syntax
cursor.execute("USE hbtn_0e_0_usa")
# Get the table names in the database
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# Print the names of all the tables in the database
print("Tables in hbtn_0e_0_usa:")
for table in tables:
    print(table[0])


##  lists all states with a name starting with N (upper N) from the database hbtn_0e_0_usa:
cursor.execute("""SELECT * FROM states WHERE name
                LIKE BINARY 'N%' ORDER BY states.id""")
rows = cursor.fetchall()
for row in rows:
    print(row)


db.close()

database exist
Tables in hbtn_0e_0_usa:
states
(4, 'New York')
(5, 'Nevada')

### TASK 4: Create a database 'hbtn_0e_4_usa', and two tables(states and cities) and a script to filter

Write a script that lists all `cities` from the database `hbtn_0e_4_usa`

- Your script should take 3 arguments: `mysql username`, `mysql password` and `database name`
- You must use the module `MySQLdb` (`import MySQLdb`)
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- Results must be sorted in ascending order by `cities.id`
- You can use only `execute()` once
- Results must be displayed as they are in the example below
- Your code should not be executed when imported


```
-- Create states table in hbtn_0e_4_usa with some data
CREATE DATABASE IF NOT EXISTS hbtn_0e_4_usa;
USE hbtn_0e_4_usa;
CREATE TABLE IF NOT EXISTS states (
    id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(256) NOT NULL,
    PRIMARY KEY (id)
);
INSERT INTO states (name) VALUES ("California"), ("Arizona"), ("Texas"), ("New York"), ("Nevada");

CREATE TABLE IF NOT EXISTS cities (
    id INT NOT NULL AUTO_INCREMENT,
    state_id INT NOT NULL,
    name VARCHAR(256) NOT NULL,
    PRIMARY KEY (id),
    FOREIGN KEY(state_id) REFERENCES states(id)
);
INSERT INTO cities (state_id, name) VALUES (1, "San Francisco"), (1, "San Jose"), (1, "Los Angeles"), (1, "Fremont"), (1, "Livermore");
INSERT INTO cities (state_id, name) VALUES (2, "Page"), (2, "Phoenix");
INSERT INTO cities (state_id, name) VALUES (3, "Dallas"), (3, "Houston"), (3, "Austin");
INSERT INTO cities (state_id, name) VALUES (4, "New York");
INSERT INTO cities (state_id, name) VALUES (5, "Las Vegas"), (5, "Reno"), (5, "Henderson"), (5, "Carson City");
```

In [41]:
import MySQLdb
import sys



# Connect to the myqlserver
db = MySQLdb.connect(
    host = "localhost",
    user = "otomisinsql",
    password="passwordTpass", 
    database="alx")

# Create a cursor object
cursor = db.cursor()

# Check if the database called `hbtn_0e_0_usa` exit, if not create one
cursor.execute( "SHOW DATABASES LIKE %s", ("hbtn_0e_4_usa",))
database_exists = cursor.fetchone()

# Create the database if it doesn't exist
if not database_exists:
    cursor.execute("CREATE DATABASE hbtn_0e_4_usa")
else:
    print("database already exist")

### hbtn_0e_4_usa Database================================

## SWITCH TO THE NEW DATABASE AND PRINT OUT THE TABLES
# Switch to the new database by using the USE syntax
cursor.execute("USE hbtn_0e_4_usa")
# Get the table names in the database
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# # Print the names of all the tables in the database
# print("Tables in hbtn_0e_4_usa:")
# for table in tables:
#     print(table[0])


###  Database================================

# # CREATE A TABLE CALLED STATES
# create_table_query = """CREATE TABLE IF NOT EXISTS states ( 
#     id INT NOT NULL AUTO_INCREMENT, 
#     name VARCHAR(256) NOT NULL,
#     PRIMARY KEY (id))"""
# cursor.execute(create_table_query)

# # INSERT VALUES INTO THE TABLE, 'STATES'
# insert_query = """
# INSERT INTO cities (state_id, name) 
# VALUES (%s), (%s), (%s), (%s), (%s)
# """
# values = ("California", "Arizona", "Texas", "New York", "Nevada")
# cursor.execute(insert_query, values)

# # Commit the changes to the database
# db.commit()


# # PRINT THE DATA FROM THE TABLE
# select_query = "select * FROM states"
# cursor.execute(select_query)
# rows = cursor.fetchall()
# for row in rows:
#     print(row)


# ### Cities ================================

# # CREATE A TABLE CALLED CITIES
# create_table_query = """
# CREATE TABLE IF NOT EXISTS cities ( 
#     id INT NOT NULL AUTO_INCREMENT, 
#     state_id INT NOT NULL,
#     name VARCHAR(256) NOT NULL,
#     PRIMARY KEY (id),
#     FOREIGN KEY(state_id) REFERENCES states(id))"""
# cursor.execute(create_table_query)


# ## PRINT OUT THE TABLES in the hbtn_0e_4_usa
# cursor.execute("SHOW TABLES")
# # Fetch all the results from the query
# tables = cursor.fetchall()
# # Print the names of all the tables in the database
# print("Tables are:")
# for table in tables:
#     print(table[0])


# # INSERT VALUES INTO THE TABLE, 'STATES'
# cities = [
#     (1, "San Francisco"),
#     (1, "San Jose"),
#     (1, "Los Angeles"),
#     (1, "Fremont"),
#     (1, "Livermore"),
#     (2, "Page"),
#     (2, "Phoenix"),
#     (3, "Dallas"),
#     (3, "Houston"),
#     (3, "Austin"),
#     (4, "New York"),
#     (5, "Las Vegas"),
#     (5, "Reno"),
#     (5, "Henderson"),
#     (5, "Carson City")
# ]

# cursor.executemany("INSERT INTO cities (state_id, name) VALUES (%s, %s)", cities)

# # # Commit the changes to the database
# # db.commit()

# ## FILTER ALL STATES FROM THE DATABASE 
# cursor.execute("""SELECT cities.id, cities.name, states.name FROM
#                 cities INNER JOIN states ON states.id=cities.state_id""")
# rows = cursor.fetchall()
# for row in rows:
#     print(row)


## FILTER ON STATE LEVEL FROM THE DATABASE === TASK 5
cursor.execute("""SELECT cities.name FROM
                cities INNER JOIN states ON states.id=cities.state_id
                WHERE states.name=%s""", ('Nevada',))
rows = cursor.fetchall()
for row in rows:
    print(row)


# # # Drop the table
# # drop_table_query = "DROP TABLE customers"
# # cursor.execute(drop_table_query)

# # # Drop the database
# # drop_database_query = f"DROP DATABASE {database_name}"
# # cursor.execute(drop_database_query)

# Close the cursor and database connections
cursor.close()
db.close()

database already exist
('Las Vegas',)
('Reno',)
('Henderson',)
('Carson City',)

In [27]:
import MySQLdb
import sys



# Connect to the myqlserver
db = MySQLdb.connect(
    host = "localhost",
    user = "root",
    password="Tpass", 
    database="alx")

# Create a cursor object
cursor = db.cursor()

# # Check if the database called `hbtn_0e_0_usa` exit, if not create one
# cursor.execute( "SHOW DATABASES LIKE %s", ("hbtn_0e_4_usa",))
# database_exists = cursor.fetchone()

# # Create the database if it doesn't exist
# if not database_exists:
#     cursor.execute("CREATE DATABASE hbtn_0e_4_usa")
# else:
#     print("database already exist")

### hbtn_0e_4_usa Database================================

## SWITCH TO THE NEW DATABASE AND PRINT OUT THE TABLES
# Switch to the new database by using the USE syntax
cursor.execute("USE hbtn_0e_4_usa")
# Get the table names in the database
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# # Print the names of all the tables in the database
# print("Tables in hbtn_0e_4_usa:")
# for table in tables:
#     print(table[0])



## Cities ================================

# CREATE A TABLE CALLED CITIES
create_table_query = """
CREATE TABLE IF NOT EXISTS cities ( 
    id INT NOT NULL AUTO_INCREMENT, 
    state_id INT NOT NULL,
    name VARCHAR(256) NOT NULL,
    PRIMARY KEY (id),
    FOREIGN KEY(state_id) REFERENCES states(id))"""
cursor.execute(create_table_query)
db.commit()


## PRINT OUT THE TABLES in the hbtn_0e_4_usa
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# Print the names of all the tables in the database
print("Tables are:")
for table in tables:
    print(table[0])


# INSERT VALUES INTO THE TABLE, 'STATES'
# cities = [
#     (1, "San Francisco"),
#     (1, "San Jose"),
#     (1, "Los Angeles"),
#     (1, "Fremont"),
#     (1, "Livermore"),
#     (2, "Page"),
#     (2, "Phoenix"),
#     (3, "Dallas"),
#     (3, "Houston"),
#     (3, "Austin"),
#     (4, "New York"),
#     (5, "Las Vegas"),
#     (5, "Reno"),
#     (5, "Henderson"),
#     (5, "Carson City")
# ]

# cursor.executemany("INSERT INTO cities (state_id, name) VALUES (%s, %s)", cities)

# insert data into the cities table
# # Commit the changes to the database
# db.commit()



# # # Drop the table
# # drop_table_query = "DROP TABLE customers"
# # cursor.execute(drop_table_query)

# # # Drop the database
# # drop_database_query = f"DROP DATABASE {database_name}"
# # cursor.execute(drop_database_query)

# # Close the cursor and database connections
# cursor.close()
db.close()

Tables are:
cities
states

OperationalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

#### TASK 5: 

Write a script that takes in the name of a state as an argument and lists all `cities` of that state, using the database `hbtn_0e_4_usa`

- Your script should take 4 arguments: `mysql username`, `mysql password`, `database name` and `state name` (SQL injection free!)
- You must use the module `MySQLdb` (`import MySQLdb`)
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- Results must be sorted in ascending order by `cities.id`
- You can use only `execute()` once
- The results must be displayed as they are in the example below
- Your code should not be executed when imported

In [70]:
import MySQLdb
import sys

# Create a cursor object
cursor = db.cursor()

# Connect to the myqlserver
db = MySQLdb.connect(
    host = "localhost",
    user = "otomisinsql",
    password="passwordTpass", 
    database="alx")


# Check if the database called `hbtn_0e_0_usa` exit, if not create one
cursor.execute( "SHOW DATABASES LIKE %s", ("hbtn_0e_0_usa",))
database_exists = cursor.fetchone()

# Create the database if it doesn't exist
if not database_exists:
    cursor.execute("CREATE DATABASE hbtn_0e_0_usa")
else:
    print("database exist")

## SWITCH TO THE NEW DATABASE AND PRINT OUT THE TABLES
# Switch to the new database by using the USE syntax
cursor.execute("USE hbtn_0e_0_usa")
# Get the table names in the database
cursor.execute("SHOW TABLES")
# Fetch all the results from the query
tables = cursor.fetchall()
# Print the names of all the tables in the database
print("Tables in hbtn_0e_0_usa:")
for table in tables:
    print(table[0])


##  lists all states with a name starting with N (upper N) from the database hbtn_0e_0_usa:
cursor.execute("""SELECT * FROM states""")
rows = cursor.fetchall()
for row in rows:
    print(row)


db.close()

database exist
Tables in hbtn_0e_0_usa:
states
(1, 'California')
(2, 'Arizona')
(3, 'Texas')
(4, 'New York')
(5, 'Nevada')
(6, 'California')
(7, 'Arizona')
(8, 'Texas')
(9, 'New York')
(10, 'Nevada')
(11, 'California')
(12, 'Arizona')
(13, 'Texas')
(14, 'New York')
(15, 'Nevada')
(16, 'California')
(17, 'Arizona')
(18, 'Texas')
(19, 'New York')
(20, 'Nevada')

In [14]:
import MySQLdb
from prettytable import PrettyTable

# Connect to the MySQL server
db = MySQLdb.connect(host="localhost", user="otomisinsql", password="pass", database="alx")

# Create a cursor object
cursor = db.cursor()

cursor.execute("Select * from teacher")

# Retrieve the data
data = cursor.fetchall()

# Get the column names
columns = [desc[0] for desc in cursor.description]

# Create a PrettyTable object and set the column names
table = PrettyTable(columns)

# Add the rows of data to the table
for row in data:
    table.add_row(row)

# Print the table
print(table)

# Close the connection
# db.close()

+------------+------------+--------------+-----------+-----------+------------+--------+---------------+
| teacher_id | first_name |  last_name   | languge_1 | languge_2 |    dob     | tax_id |    phone_no   |
+------------+------------+--------------+-----------+-----------+------------+--------+---------------+
|     1      |   James    |    Smith     |    ENG    |    None   | 1985-04-20 | 12345  | +491774553676 |
|     2      |  Stefanie  |    Martin    |    FRA    |    None   | 1970-02-17 | 23456  | +491234567890 |
|     3      |   Steve    |     Wang     |    MAN    |    ENG    | 1990-11-12 | 34567  | +447840921333 |
|     4      | Friederike | Müller-Rossi |    DEU    |    ITA    | 1987-07-07 | 45678  | +492345678901 |
|     5      |   Isobel   |   Ivanova    |    RUS    |    ENG    | 1963-05-30 | 56789  | +491772635467 |
|     6      |   Niamh    |    Murphy    |    ENG    |    IRI    | 1995-09-08 | 67890  | +491231231232 |
+------------+------------+--------------+-----------+-----------+------------+--------+---------------+

## Mysqldb and Sqlclhemy**

Both **`MySQLdb`** and **`SQLAlchemy`** are Python modules that provide a way to connect to a MySQL database server from a Python program. However, there are some important differences between the two:

1. Level of abstraction:

**`MySQLdb`** is a lower-level module that provides a simple and direct interface to the MySQL database. It allows you to execute SQL commands and retrieve results directly.

**`SQLAlchemy`**, on the other hand, is a higher-level module that provides a more abstract interface to the database. It provides a set of powerful and flexible tools for working with relational databases, including MySQL. It allows you to work with the database using a higher-level object-oriented API, and provides an ORM (Object-Relational Mapping) layer for mapping database tables to Python objects.

2. ORM support:

While **`MySQLdb`** does not provide an ORM layer, **`SQLAlchemy`** does. SQLAlchemy's ORM allows you to map your database tables to Python classes, and provides a high-level interface for working with these objects. It provides a powerful set of features for managing relationships between objects, querying the database, and more.

3. SQL dialects:

**`MySQLdb`** supports MySQL-specific SQL syntax and features, but does not provide support for other SQL dialects.

**`SQLAlchemy`** provides support for multiple SQL dialects, including MySQL, PostgreSQL, Oracle, and more. It provides a consistent interface for working with these different databases, making it easier to switch between them.

In summary, **`MySQLdb`** is a lower-level module that provides a simple interface to the MySQL database, while **`SQLAlchemy`** is a higher-level module that provides a more abstract interface, including an ORM layer and support for multiple SQL dialects

### SQLAlchemy

Resources
https://www.pythonsheets.com/notes/python-sqlalchemy.html

SQLAlchemy is a Python library that provides a set of high-level APIs for working with relational databases. It is an Object Relational Mapper (ORM) that enables Python developers to work with databases using Python objects rather than raw SQL. SQLAlchemy provides a set of powerful tools for working with databases, including connection pooling, transactions, and a SQL expression language.

The need for SQLAlchemy arises from the fact that working with databases using raw SQL can be complex, error-prone, and tedious. With SQLAlchemy, developers can use Python to interact with the database, which makes it easier to write, read, and maintain code. SQLAlchemy also provides a high level of abstraction, which means that developers can work with the database without worrying too much about the underlying SQL code.